<%- include('header.ejs') %>

<div class="movie-wrapper">
    <img    src= "https://image.tmdb.org/t/p/original/<%= movie_poster %>" 
    class="m-poster"> 

    <div class="m-description">

        <h1 class="m-title"><%= movie_title %> </h1>
        <div class="m-tags">
            <h6>Rating: <%=movie_rating  %> </h6>
        <h6>Language: English</h6>
        </div>
        
        
        <p class="m-overview">
          <%= movie_overview %>
        </p>
    </div>
    


</div>






<%- include('footer.ejs') %>